// Checks if current animation selector 
// is different from stored animation selector 

@function checkotherSelector($currentSelector) {
    
    @if length($listAnimations) != 0 {
        
        $anotherSelector: false;
        
        @each $animation in $listAnimations {

            $selector: findSelector($animation);

            @if ($selector != $currentSelector) {
                $anotherSelector: true;
                
            }
        }
        @return $anotherSelector;
    }
    @return false;
}
