/* Animates a property between two values. Delay/start & duration parameters
need to be specified 

@include animate(height, 200px, 1000px, 0s, 1s);

Animates the height property with a start time of 0s and a duration o 1s
*/

@use "sass:list";
@use "sass:map";
@use "sass:math";

// Animate Property Between Two Media Queries 
@mixin animate($property, $start, $end, $delay: "", $time: "") {

    $selector: str-replace(#{&}, '.', '');
    $keyframe: str-replace($selector, ' ', '_')+'--'+ $property + '-' + $delay + $time;
    $animation: $keyframe + ' '+ $time + ' ease '+ $delay + ' forwards';

    $currentSelector: str-replace($selector, ' ', '_');
    $otherSelector: checkotherSelector($currentSelector);

    @if $otherSelector==true {
        $listAnimations: () !global;
    }

    @keyframes #{$keyframe} {
        0% {
            #{$property}: $start;
        }

        100% {
            #{$property}: $end;
        }
    }

    $listAnimations: list.append($listAnimations, $animation) !global;
    @include mergeAnimations($listAnimations...);

}