/* --------------------------------
   Media Queries 
   -------------------------------- */
/* Animates a property between two values. Delay/start & duration parameters
need to be specified 

@include animate(height, 200px, 1000px, 0s, 1s);

Animates the height property with a start time of 0s and a duration o 1s
*/
/* Interpolates a property between two breaks

If no breakpoint is specified, the property will be interpolated
between 375px and 1920px

@include responsive(font-size, 20px, 60px);
@include responsive(height, 200px, 1000px, xs, md2);
*/
/* While scrolling in view play scroll animation 

If no percentages are specified, the animation boundaries are
0% (when element starts entering into view) 
100% (when element is fully invisible)

If no class/selector is specified the trigger of the animation
is the selector where the mixin is defined

@include scroll(font-size, 20px, 60px);
@include scroll(height, 200px, 1000px, 30, 50);
@include scroll(height, 200px, 1000px, 30, 50, '.section');

*/
/* -------------------------------
   Base
   ------------------------------- */
html {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  margin: 0px;
  height: 400vh;
}

/* --------------------------------
  Component 
   -------------------------------- */
.section {
  height: 10px;
  width: 100%;
  background-color: blue;
  position: fixed;
  top: 0px;
  animation: section--width-0100 1s linear 1 calc(-1s * var(--scroll-page) / 100) both paused;
}
@keyframes section--width-0100 {
  0%, 0% {
    width: 0%;
  }
  100%, 100% {
    width: 100%;
  }
}
